<div class="gitinfo">
	{{ if .GitInfo }}
	<span title="{{ .GitInfo.Subject }}">MOD</span>
	<span title="{{ .GitInfo.Hash }}"><a href="https://github.com/disktree/ii/commit/{{ .GitInfo.Hash }}" rel="external" tabindex="-1">{{ .GitInfo.AbbreviatedHash }}</a></span>
	<span title="{{ .GitInfo.AuthorDate }}">{{ .Params.lastmod.Format "060102" }}</span>
	<span title="{{ .GitInfo.AuthorEmail }}"><a href="https://github.com/{{ .GitInfo.AuthorName }}" rel="external" tabindex="-1">{{ .GitInfo.AuthorName }}</a></span>
	{{ end }}
</div>
