
<a href="{{ .Site.BaseURL }}theme" class="ic-diamond" title="Select Theme" tabindex="-1" aria-hidden="true"></a>
<a href="{{ .Site.BaseURL }}index.xml" class="ic-link-rss" title="RSS" rel="alternate" aria-label="feed"></a>
<div class="social" style="display:none">
    <a href="https://vimeo.com/" class="ic-vimeo" title="vimeo/disktree" rel="external" aria-label="Vimeo"></a>
    <a href="https://twitter.com/disktree" class="ic-twitter" title="twitter/disktree" rel="external" aria-label="Twitter"></a>
    <a href="https://gitlab.com/disktree" class="ic-gitlab" title="gitlab/disktree" rel="external" aria-label="Gitlab"></a>
    <a href="https://github.com/tong" class="ic-github-alt" title="github/tong" rel="external" aria-label="Github"></a>
</div>
