
{{ define "header" }}
{{ end }}

{{ define "main" }}
	<div class="aa">
		<header>
			<div class="meta">
				<time datetime="{{.Date}}">{{.Date.Format "06/01/02"}}</time>
				<ul class="tags">
					{{ range .Params.tags }}
					<li class="tag">
						<a href="{{ "tags/" | relURL }}{{ . | urlize }}">#{{- . -}}</a>
					</li>
					{{ end }}
				</ul>
			</div>
			<h1 class="title">{{- .Title -}}</h1>
			<ol class="links">
				{{ with .Params.links  }}
					{{ range . }}
		
						{{ $urlstr := . }}
						{{ $type := "web" }}
						
						{{ if in $urlstr "http" }}{{ else }}
							{{ $urlstr = (print "https://" $urlstr ) }}
						{{ end }}
						
						{{ $url := urls.Parse $urlstr }}
						
						{{ if eq $url.Host "github.com" }}{{ $type = "github" }}
						{{ else if eq $url.Host "gitlab.com" }}{{ $type = "gitlab" }}
						{{ else if eq $url.Host "twitter.com" }}{{ $type = "twitter" }}
						{{ else if eq $url.Host "vimeo.com" }}{{ $type = "vimeo" }}
						{{ else if eq $url.Host "youtube.com" }}{{ $type = "youtube" }}
						{{ else if eq $url.Host "wikipedia.org" }}{{ $type = "wikipedia" }}
						{{ else if eq $url.Host "steampowered.com" }}{{ $type = "steam" }}
						{{ end }}
		
						<li class="link">
							<a href="{{ $urlstr }}" class="ic-link-{{ $type }}" title="{{ $urlstr }}">{{ trim (print $url.Host $url.Path) "/" }}</a>
						</li> 
			
					{{ end }}
				{{ end }}
			</ol>
		</header>
		<section class="description">{{ .Params.description | markdownify }}</section>
		<article class="content">{{- .Content -}}</article>
	</div>
{{ end }}
