
.site-intro {
	display: grid;
	place-items: center;
	height: 100%;
	cursor: vertical-text;
}

body {
	--site-margin: 1rem;
	--footer-height: auto; // 3rem;
	display: grid;
	grid-template-columns: [site-start] var(--site-margin) [content-start] 1fr [mid] 1fr [content-end] var(--site-margin) [site-end];
	grid-template-rows: auto auto [content-start] 1fr [content-end] auto [footer-start] auto [footer-end];
	//gap: 1.5rem;
	> header {
		grid-column: site-start / site-end;
		grid-row: 1;
		display: flex;
	}
	> nav {
		grid-column: content-start / content-end;
		//grid-column: 2;
		grid-row: 2;
		text-transform: uppercase;
		display: flex;
		//justify-content: flex-end;
		//align-items: center;
	}
	> main {
		grid-column: content-start / content-end;
		grid-row: content-start / content-end;
		//display: block;
		padding: 1rem 0;
		height: 100%;
	}
	/* > aside:empty, > footer:empty {
		display: none;
	} */
	> aside, > footer {
		grid-row: footer-start / footer-end;
		display: flex;
		//padding: 0.5rem 0;
		color: var(--f_low);
		padding-bottom: 2rem;
		//border-top: 1px dotted var(--f_low);
	}
	> aside {
		grid-column: content-start / mid;
		justify-content: flex-start;
		//background: blue;
	/* 	.social {
			//display: none;
		} */
		a {
			padding-left: 0.3em;
			&:not(:last-child) {
				padding-right: 0.3em;
			}
		}
		/* &.aside-1 {
		}
		&.aside-2 {
		} */
	}
	> footer {
		grid-column: mid / content-end;
		justify-content: flex-end;
		a {
			padding-right: 0.3em;
			&:not(:first-child) {
				padding-left: 0.3em;
			}
		}
	}
	@media screen and (min-width: @vp-medium) {
		--site-margin: 2rem;
		--footer-height: 5rem;
		> main {
			padding: 2rem 0;
		}
		/* > aside, > footer {
			//padding: 1rem 0;
		} */
	}
}
