
body {

	display: grid;
	grid-template-columns: [site-start] 1rem [content-start] 1fr [mid] 1fr [content-end] 1rem [site-end];
	grid-template-rows: auto auto [content-start] 1fr [content-end] auto [footer-start] auto [footer-end];
	//gap: 1.5rem;
	
	> header {
		grid-column: site-start / site-end;
		grid-row: 1;
		display: flex;
	}
	> nav {
		grid-column: content-start / content-end;
		grid-row: 2;
		text-transform: uppercase;
		//margin-top: 1rem;
		font-size: 70%;
		>* {
			padding-right: 0.5ch;
		}
	}
	> main {
		grid-column: content-start / content-end;
		grid-row: content-start / content-end;
		//margin: 0 1rem;
		padding: 1rem 0 2rem 0;
		height: 100%;
		>*:first-child {
			//background: red;
		}
	}
	> aside {
		grid-column: site-start / site-end;
		grid-row: content-end / span 1;
		display: flex;
		justify-content: flex-end;
		margin: 0 0.5rem 0.5rem 0;
		color: var(--f_low);
		a {
			padding: 0 0.25em;
			&:not(:last-child) {
			}
		}
	}
	> footer {
		grid-column: content-start / content-end;
		grid-row: footer-start / footer-end;
		display: flex;
		padding: 0.5rem 0;
		//padding: 1em 0;
	}

	@media screen and (min-width: @vp-medium) {
		> main {
			margin: 0 2rem;
			padding: 2.5rem 0 0 0;
		}
		> aside {
			margin: 0 2rem 0.5rem 0;
		}
	}
}

