{{ define "header" }}
	<div class="raa3" style="display:none;margin:0 auto;width:80%;max-width:600px;padding:8rem 4rem;">{{ partial "raa3" . }}</div>
	<div class="raa2" style="display:none;width:100%;padding:1rem 2rem 1rem 1rem;">{{ partial "raa2" . }}</div>
	<script>
		const animations = ["raa2","raa3"];
		//var a = animations[1]; // animations[Math.floor( Math.random()*animations.length)];
		document.querySelector('header .'+animations[1]).style.display = 'block';
	</script>
{{ end }}

{{ define "main" }}
	{{ if .Title }}<h1>{{- .Title -}}</h1>{{ end }}
	{{ if .Content }}<article class="content">{{- .Content -}}</article>{{ end }}
	<ol class="projects">
		{{ $paginator := .Paginate .Data.Pages }}
		{{ range $paginator.Pages }}
			{{ .Render "li" }}
		{{ end }}
	</ol>
	{{ partial "pagination.html" . }}
{{ end }}
