{{ define "header" }}
	<div style="width:100%;height:auto;max-width:100vw;min-height:50vh;max-height:50vh;padding:10vmin;">{{ partial "raa3" . }}</div>
	<!-- <svg style="margin: 1rem 1rem;" xmlns="http://www.w3.org/2000/svg" width="100" height="100" viewBox="0 0 100 100">
		<circle cx="50" cy="50" r="50" fill="var(--f_med)"></circle>
	</svg> -->
{{ end }}

{{ define "main" }}
	{{ if .Title }}<h1>{{- .Title -}}</h1>{{ end }}
	{{ if .Content }}<article class="content">{{- .Content -}}</article>{{ end }}
	<ul class="projects">
		{{ $paginator := .Paginate .Data.Pages }}
		{{ range $paginator.Pages }}
			{{ .Render "li" }}
		{{ end }}
	</ul>
	{{ partial "pagination.html" . }}
{{ end }}
