{{ define "main" }}
	<div class="project">
		<h1 class="title">{{- .Title -}}</h1>
		<div class="meta">
			<a href=".." class="ic-circle" title="Projects"></a>
			{{ partial "prev_next" . }}
			<time class="time" datetime="{{.Date}}">{{.Date.Format "06/01/02"}}</time>
			{{ partial "tags" . }}
		</div>
		{{ partial "links" . }}
		{{ if .Content }}<section class="description">{{ .Params.description | markdownify }}</section>{{ end }}
		<article class="content">{{- .Content -}}</article>

		<!-- {{ if .Params.links }}
			<ol>
				{{ range .Params.links }}
				{{ $urlstr := . }}
				{{ if in $urlstr "http" }}{{ else }}{{ $urlstr = (print "https://" $urlstr ) }}{{ end }}
				{{ $url := urls.Parse $urlstr }}
					<li>{{ $url.Path }}</li>
				{{ end }}
			</ol>
		{{ end }} -->

		<!-- <script src="{{ .Site.BaseURL }}/js/github.js"></script>
		<script>
			Github.loadRepoInfo({{ .Params.github }}, ol => {
				var project = document.querySelector( 'main>.project' );
				console.log(ol);
				project.appendChild( ol );
			});
		</script> -->

	</div>
{{ end }}
