{{ define "main" }}
	<div class="project">
		<h1 class="title">{{- .Title -}}</h1>
		<div class="meta">
			<a href=".." class="ic-circle" title="Projects"></a>
			{{ partial "prev_next" . }}
			<time class="time" datetime="{{.Date}}">{{.Date.Format "06/01/02"}}</time>
			{{ partial "tags" . }}
		</div>
		{{ partial "links" . }}
		{{ if .Content }}<section class="description">{{ .Params.description | markdownify }}</section>{{ end }}
		<article class="content">{{- .Content -}}</article>
	</div>
	<script>
		window.addEventListener( 'keydown', e => {
			console.log(e.keyCode);
			switch( e.keyCode ) {
			{{ with .PrevInSection }}
				case 37: window.location = '{{ .RelPermalink }}'; break;
			{{ end }}
			{{ with .NextInSection }}
				case 39: window.location = '{{ .RelPermalink }}'; break;
			{{ end }}
			case 38: window.location.href = '../'; break;
			}
		}, false );
	</script>
{{ end }}
