article {
  text-align: center;
}

article>h1 {
  text-align: center;
  margin: 10vh 0 4rem 0;
}

article>h1>a {
  text-decoration: none;
}

article>img {
  margin: 0 auto;
  padding: 6vw;
  max-width: 700px;
  width: 100%;
}
