/** ii/site **/

@use 'breakpoint';

html,
body {
  width: 100%;
  height: 100%;
}

body {

  --site-margin: 1rem;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  // gap: 0.5rem;
  height: 100%;

  >header {
    display: flex;
    // justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 var(--site-margin);
    padding: 1rem 0;
    text-transform: uppercase;
    z-index: 1000;

    >a.home {

      // margin-right: 0.5rem;
      i {
        position: relative;
        top: 1px;
        margin-right: 3px;
      }
    }

    >menu.breadcrumb {
      margin-right: 0.25rem;
    }

    >time {
      margin-right: 0.25rem;
    }

    >dl.tags {
      // white-space: nowrap;
    }
  }

  >main {
    margin: 0 var(--site-margin);
    // padding: 1rem 0;
    // padding-bottom: 4rem;
    // background: darkslategrey;
    height: 100%;
    z-index: 100;
  }

  >footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    // justify-content: flex-end;
    margin: 0 var(--site-margin);
    padding: 1rem 0 1.5rem 0;
    z-index: 1000;

    a {
      text-decoration: none;
    }

    >*:not(:last-child) {
      margin-right: 0.5rem;
    }
  }
}

@media screen and (min-width: breakpoint.$tablet) {
  body {
    --site-margin: 2rem;

    >header {
      // font-size: 1rem;
      // margin: 0 2rem;
      // padding: 2rem 0 0rem 0;
      // padding: 2rem 0;
      padding-top: 2rem;
    }

    >main {
      // margin: 0 2rem;
      // padding: 2rem 0;
      // margin: 0 2rem;
    }

    >footer {
      // margin: 0 2rem;
      // padding: 2rem 0 3rem 0;
      padding-bottom: 2rem;
    }
  }
}
