<ol class="links">

	{{ with .Params.links  }}
	{{ range . }}

	{{ $urlstr := . }}
	{{ $type := "web" }}

	{{ if in $urlstr "http" }}{{ else }}
	{{ $urlstr = (print "https://" $urlstr ) }}
	{{ end }}

	{{ $url := urls.Parse $urlstr }}

	{{ if eq $url.Host "github.com" }}{{ $type = "link-github" }}
	{{ else if eq $url.Host "disktree.net" }}{{ $type = "link-circle" }}
	{{ else if eq $url.Host "disktree.bandcamp.com" }}{{ $type = "link-circle" }}
	{{ else if eq $url.Host "disktree.itch.io" }}{{ $type = "link-circle" }}
	{{ else if eq $url.Host "gist.github.com" }}{{ $type = "link-github" }}
	{{ else if eq $url.Host "gitlab.com" }}{{ $type = "link-gitlab" }}
	{{ else if eq $url.Host "bandcamp.com" }}{{ $type = "link-bandcamp" }}
	{{ else if eq $url.Host "twitter.com" }}{{ $type = "link-twitter" }}
	{{ else if eq $url.Host "vimeo.com" }}{{ $type = "link-vimeo" }}
	{{ else if eq $url.Host "youtube.com" }}{{ $type = "link-youtube" }}
	{{ else if eq $url.Host "wikipedia.org" }}{{ $type = "link-wikipedia" }}
	{{ else if eq $url.Host "steampowered.com" }}{{ $type = "link-steam" }}
	{{ end }}

	{{ $is_download := false }}
	{{ $ext := path.Ext $urlstr }}
	{{ if eq $ext ".ogg" }}
		{{ $is_download = true }}
		{{ $type = "download" }}
	{{ else if (eq $ext ".mp3") }}
		{{ $is_download = true }}
		{{ $type = "download" }}
	{{ else if (eq $ext ".ttf") }}
		{{ $is_download = true }}
		{{ $type = "download" }}
	{{ end }}

	<li class="link">
		<a href="{{ $urlstr }}" class="ic-{{ $type }}" title="{{ $urlstr }}" {{ with $is_download }}
			download{{ end }} rel="external">{{ trim (print $url.Host $url.Path) "/" }}</a>
	</li>

	{{ end }}
	{{ end }}
</ol>
