{{ define "header" }}
<a href="project" style="-webkit-user-drag:none;position:fixed;top:50%;left:50%;transform:translate(-50%,-50%);min-height:10vh;max-height:80vh;min-height:10vh;">
	<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" height="100%" width="100%">
		<style>
			path {
				stroke: var(--f_high);
				stroke-width: 2;
			}
		</style>
		<path d="M 12,22 V 12"/>
		<path d="M 4,12 H 20"/>
		<path d="M 2.5,5 12,11"/>
		<path d="M 21.5,5 12,11"/>
	</svg>
</a>
{{ end }}

{{ define "nav" }}
<!--  -->
{{/* */}}
{{ end }}

{{ define "main" }}
<!--  -->
{{/* */}}
{{ end }}

{{ define "footer" }}
<!--  -->
{{ end }}

{{ define "scripts" }}
<script>
	window.addEventListener('load', e => {
		setTimeout(() => { window.location = '{{ .Site.BaseURL }}/project'; }, 300000 );
	});
	</script>
{{ end }}

{{ define "preload" }}
<link rel="prerender" href="https://disktree.net/ii/project">
{{ end }}
