{{ define "header" }}
	<a href="{{.Site.BaseURL}}/project">
		<h1 style="display:none">DISKTREE/II</h1>
	</a>
{{ end }}
{{ define "main" }}
<a href="{{.Site.BaseURL}}/project" style="cursor:vertical-text;display:grid;place-items:center;height:100%" title="Projects">
	<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="50vw" height="50vh">
		<style>
			path {
				fill: var(--f_med);
			}
		</style>
		<path d="M 11,12 h2 V22 h-2 z"/>
		<path d="M 6,11.5 h12 v2 h-12 z"/>
		<path d="M 3.5,4.5 h12 v2 h-12 z" transform="rotate(36,3.5,5.5)"/>
		<path d="M 8.5,4.5 h12 v2 h-12 z" transform="rotate(-36,20.5,5.5)"/>
	</svg>
</a>
{{ end }}

{{ define "scripts" }}
<script>
	window.addEventListener('load', e => {
		setTimeout(() => { window.location = 'project'; }, 2000 );
	});
	</script>
{{ end }}

{{ define "preload" }}
<link rel="prerender" href="https://disktree.net/ii/project/">
{{ end }}
