{{ define "style" }}
{{ $style := resources.Get "css/znn_list.css" }}
<link rel="stylesheet" href="{{ $style.Permalink }}">
{{ end }}

{{ define "main" }}
{{ $url := urls.Parse . }}
<article class="znn">
  <ol class="znn" reversed>
    {{ range .Pages }}
    {{ $res := .Resources.Get (print .Params.znn ".png") }}
    {{ $res_600 := $res.Resize "600x" }}
    {{ $res_1000 := $res.Resize "1000x" }}
    <li>
      <a href="{{ .RelPermalink }}">
        <figure>
          <picture>
            <source srcset="{{ $res_600.RelPermalink }}" media="(max-width: 600px)">
            <img src="{{ $res_1000.Permalink }}" alt="graphic">
          </picture>
          <figcaption>{{- .Title -}}</figcaption>
        </figure>
      </a>
    </li>
    {{ end }}
  </ol>
</article>
{{ end }}
